*.env
.python-version
.idea
.venv
.temp
.cli-venv
.coverage
.vscode
.ipynb_checkpoints
__pycache__/
.pytest_cache
.python-version
.ruff_cache
pytest.xml
coverage.xml
pytest-coverage.txt

*.mp4
*.keras
*.rpk
*.egg-info

dist
build
tests/assets
examples/assets
temp

# Triton artifact
persist.json