*.env
.python-version
.idea
.venv
.temp
.cli-venv
.coverage
.vscode
.ipynb_checkpoints
__pycache__/
.pytest_cache
.python-version
pytest.xml
coverage.xml
pytest-coverage.txt
poetry.lock

*.mp4
*.keras
*.rpk

dist
tests/assets
examples/assets
temp
